@model calculadoramvc.Models.Calculadora


@{
    ViewData["Title"] = "Calculadora Page";
}

<div class="text-center">
    <h1 class="display-4">Calculadora</h1>
    <form asp-controller="Calculadora" asp-action="Calcular">
            
            <label>Primer número</label>
            <input asp-for="Operador1"/>
            <br/>

            <label>Segundo número</label>
            <input asp-for="Operador2"/>
            <br/>

            <label>Quiero...</label>
            <select asp-for="Acccion">
                <option value="+">Sumar</option>
                <option value="-">Restar</option>
                <option value="*">Multiplicar</option>
                <option value="/">Dividir</option>
            </select>
            <br/>
            
            <input type="submit" value="Calcular"/>
    </form>
    
    <td>@Html.DisplayNameFor(model => model.Respuesta)</td>
    <td>@Html.DisplayTextFor(model => model.Respuesta)</td>

</div>