@model calculadoramvc.Models.Contacto

@{
    ViewData["Title"] = "Contacto Page";
}

<div class="text-center">
    <h1 class="display-4">Contacto</h1>
    

    <form asp-controller="Contacto" asp-action="EnviarMensaje">
        <div>
            <label for="Nombre">Nombre</label>
            <input asp-for="Nombre" type="text" required/>
        </div>
        <div>
            <label for="Apellido">Apellido</label>
            <input asp-for="Apellido" type="text"/>
        </div>
        <div>
            <label for="Email">Email</label>  
            <input asp-for="Email" type="email" required/>
        </div>
        <div>
            <label for="Telefono">Teléfono</label>
            <input asp-for="Telefono" type="tel" name="telefono" pattern="[0-9]{9}" />
        </div>
        <div>
            <label for="Asunto">Asunto</label>
            <input asp-for="Asunto" type="text"/>
        </div>
        <div>
            <label for="Mensaje">Mensaje</label>
            <textarea asp-for="Mensaje" rows="4" cols="50">
            </textarea>
        </div>
        <div>
            <input type="submit" value="Enviar"/>
        </div>
    </form>

    <td>@Html.DisplayTextFor(model => model.Respuesta)</td>
</div>
