@model calculadoramvc.Models.Contacto

@{
    ViewData["Title"] = "Contacto Page";
}

<div class="row">
  <div class="col-md-4">
    <h1 class="display-4">Contacto</h1>
    
    <form asp-controller="Contacto" asp-action="EnviarMensaje">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="Nombre" class="control-label"></label>
            <input asp-for="Nombre" class="form-control" />
            <span asp-validation-for="Nombre" class="text-danger"></span>
        </div>

        <div>
            <label asp-for="Apellido" class="control-label"></label>
            <input asp-for="Apellido" class="form-control"/>
            <span asp-validation-for="Apellido" class="text-danger"></span>
        </div>
        
        <div class="form-group">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Telefono" class="control-label"></label>
            <input asp-for="Telefono" class="form-control" type="tel" pattern="[0-9]{9}" />
        </div>
        <div class="form-group">
            <label asp-for="Asunto" class="control-label"></label>
            <input asp-for="Asunto"  class="form-control"/>
        </div>
        <div class="form-group">
            <label asp-for="Mensaje" class="control-label"></label>
            <textarea asp-for="Mensaje"  class="form-control">
            </textarea>
        </div>
        <div class="form-group">
            <input type="submit" value="Enviar"/>
        </div>
    </form>

    <td>@Html.DisplayTextFor(model => model.Respuesta)</td>
  </div>
</div>
